
<div class="panel panel-info">
      <div class="panel-heading">
            <h3 class="panel-title">Welcome</h3>
      </div>
      <div class="panel-body">
            {{message}}
      </div>
</div>
