
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <form novalidate name="userForm" class="form-horizontal" ng-submit="submitForm(userForm)">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="form-control" ng-model="user.firstName" type="text" name="firstName" id="firstName"
                        required>
                    <label class="error"
                        ng-if="(userForm.$submitted || userForm.firstName.$dirty) &&  userForm.firstName.$error.required">This
                        is required.</label>

                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" ng-model="user.lastName" type="text" name="lastName" id="lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" ng-model="user.email" type="email" name="email" id="email" required>
                    <label class="error"
                        ng-if="(userForm.$submitted || userForm.email.$dirty) &&  userForm.email.$error.required">This
                        is required.</label>
                    <label class="error"
                        ng-if="(userForm.$submitted || userForm.email.$dirty) &&  userForm.email.$error.email">Invalid
                        Format.</label>
                </div>
                <div class="form-group">
                    <label for="phoneno">Phone</label>
                    <input class="form-control" ng-model="user.phone" type="text" name="phoneno" id="phoneno" required>
                    <label class="error"
                        ng-if="(userForm.$submitted || userForm.phoneno.$dirty) &&  userForm.phoneno.$error.required">This
                        is required.</label>
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea class="form-control" ng-model="user.address" name="address" id="address" cols="31"
                        rows="4"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>