<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <a class="btn btn-primary" href="#/user/new" role="button">Create User</a>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h3>Users</h3>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>
                            <a href="#/user/{{user.id}}">{{user.id}}</a>
                        </td>
                        <td>{{user.firstName}} {{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="removeUser(user.id)">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>